{% extends "home-base.html" %}

{% block title %}
Edit Artist
{% endblock %}

{% block page_content %}
<h1>Use the form to add an artist</h1>

<form action="/artist/edit/{{artist.id}}" method="post">
<label>Name</label>
<input class="form-control" type="text" name="name" value="{{artist.name}}" required="true">
<label>About</label>
<textarea class="form-control" name="about" required="true">{{artist.about}}</textarea>
<button type="submit" class="btn">Save Changes</button>
</form>
{% endblock %}
